[package]
name = "kord"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
once_cell = "1.16.0"
paste = "1.0.9"

[dev-dependencies]
pretty_assertions = "1.3.0"