[tasks.fmt]
command = "cargo"
args = ["fmt"]

[tasks.build]
command = "cargo"
args = ["build"]

[tasks.test]
install_crate = "cargo-nextest"
command = "cargo"
args = ["nextest", "run", "--features", "ml_train ml_infer ml_sample_process"]

[tasks.codecov]
install_crate = { crate_name = "cargo-llvm-cov", binary = "cargo-llvm-cov", test_arg = "--help" }
command = "cargo"
args = [
    "llvm-cov",
    "nextest",
    "--features",
    "ml_train ml_infer ml_sample_process",
    "--workspace",
    "--lcov",
    "--output-path",
    "coverage.lcov",
]

[tasks.build-linux]
command = "cargo"
args = ["build", "--target", "x86_64-unknown-linux-gnu", "--release"]

[tasks.build-linux.env]
RUSTFLAGS = "-C linker=clang -C link-arg=-fuse-ld=mold"

[tasks.build-windows]
command = "cargo"
args = ["build", "--target", "x86_64-pc-windows-gnu", "--release"]

[tasks.build-macos]
command = "cargo"
args = ["build", "--target", "aarch64-apple-darwin", "--release"]
