# Helpers

[env]
WASM_TEST_BROWSER = { value = "firefox", condition = { env_not_set = [
    "WASM_TEST_BROWSER",
] } }

[tasks.install-cargo-binstall]
install_crate = "cargo-binstall"

[tasks.install-nextest]
dependencies = ["install-cargo-binstall"]
command = "cargo"
args = ["binstall", "cargo-nextest", "--no-confirm"]

[tasks.install-llvm-cov]
dependencies = ["install-cargo-binstall"]
command = "cargo"
args = ["binstall", "cargo-llvm-cov", "--no-confirm"]

[tasks.install-wasm-pack]
dependencies = ["install-cargo-binstall"]
command = "cargo"
args = ["binstall", "wasm-pack", "--no-confirm"]

[tasks.install-wkg]
dependencies = ["install-cargo-binstall"]
command = "cargo"
args = ["binstall", "wkg", "--no-confirm"]

[tasks.tools]
dependencies = [
    "install-nextest",
    "install-llvm-cov",
    "install-wasm-pack",
    "install-wkg",
]

# Build / test tasks.

[tasks.fmt]
cwd = "."
workspace = false
command = "cargo"
args = ["fmt"]

[tasks.build]
cwd = "."
workspace = false
command = "cargo"
args = ["build"]

[tasks.test]
cwd = "."
workspace = false
install_crate = "cargo-nextest"
command = "cargo"
args = ["nextest", "run", "--features", "ml_train ml_infer ml_sample_process"]

[tasks.test-wasm]
cwd = "kord"
workspace = false
dependencies = ["install-wasm-pack"]
command = "wasm-pack"
args = [
    "test",
    "--${WASM_TEST_BROWSER}",
    "--headless",
    "--features",
    "wasm ml_infer",
]

[tasks.test-web-client]
cwd = "kord-web"
workspace = false
dependencies = ["install-wasm-pack"]
command = "wasm-pack"
args = ["test", "--${WASM_TEST_BROWSER}", "--headless", "--features", "hydrate"]

[tasks.test-web-server]
cwd = "kord-web"
workspace = false
install_crate = "cargo-nextest"
command = "cargo"
args = ["nextest", "run", "--lib"]

[tasks.test-all]
workspace = false
dependencies = ["test", "test-web-server", "test-web-client", "test-wasm"]

[tasks.codecov]
cwd = "."
workspace = false
clear = true
dependencies = ["tools"]
command = "cargo"
args = [
    "llvm-cov",
    "nextest",
    "--features",
    "ml_train ml_infer ml_sample_process",
    "--workspace",
    "--lcov",
    "--output-path",
    "coverage.lcov",
]

[tasks.codecov-html]
cwd = "."
workspace = false
clear = true
dependencies = ["tools"]
command = "cargo"
args = [
    "llvm-cov",
    "nextest",
    "--features",
    "ml_train ml_infer ml_sample_process",
    "--workspace",
    "--html",
]

# CI tasks

[tasks.build-linux]
cwd = "."
workspace = false
command = "cargo"
args = ["build", "--target", "x86_64-unknown-linux-gnu", "--release"]

[tasks.build-linux.env]
RUSTFLAGS = "-C linker=clang -C link-arg=-fuse-ld=mold"

[tasks.build-windows]
cwd = "."
workspace = false
command = "cargo"
args = ["build", "--target", "x86_64-pc-windows-gnu", "--release"]

[tasks.build-macos]
cwd = "."
workspace = false
command = "cargo"
args = ["build", "--target", "aarch64-apple-darwin", "--release"]

# Publishing tasks

[tasks.check-all]
workspace = false
dependencies = ["fmt", "test"]

[tasks.release]
cwd = "."
workspace = false
install_crate = "cargo-release"
command = "cargo"
args = ["release", "--workspace", "--no-publish", "--execute"]

[tasks.build-cli]
cwd = "."
workspace = false
command = "cargo"
args = ["build", "--release", "--bin", "kord", "-p", "kord"]

[tasks.build-npm]
cwd = "kord"
install_crate = "wasm-pack"
command = "wasm-pack"
args = [
    "build",
    "--target",
    "bundler",
    "--out-dir",
    "../pkg",
    "--release",
    "--no-default-features",
    "--features",
    "analyze audio ml_infer ml_store_precision_half ml_loader_mel ml_target_folded wasm",
]

[tasks.build-web]
cwd = "kord-web"
install_crate = "cargo-leptos"
command = "cargo"
args = ["leptos", "build", "--release"]

[tasks.build-oci]
cwd = "kord"
workspace = false
command = "cargo"
args = [
    "build",
    "--bin",
    "kord",
    "--release",
    "--target",
    "wasm32-wasip2",
    "--no-default-features",
    "--features",
    "wasi cli analyze_file ml_infer ml_store_precision_half ml_loader_mel ml_target_folded",
]

[tasks.publish-oci]
dependencies = ["build-oci", "install-wkg"]
cwd = "."
workspace = false
command = "wkg"
args = [
    "oci",
    "push",
    "ghcr.io/twitchax/kord:latest",
    "--file",
    "target/wasm32-wasip2/release/kord.wasm",
]

[tasks.rename-npm-package]
dependencies = ["build-npm"]
install_crate = "sd"
cwd = "pkg"
command = "sd"
args = ["\"name\": \"kord\"", "\"name\": \"kordweb\"", "package.json"]

[tasks.publish-npm]
dependencies = ["rename-npm-package"]
cwd = "pkg"
command = "npm"
args = ["publish", "--access", "public"]

[tasks.publish-crates]
cwd = "."
workspace = false
script = '''
echo "Publishing kord crate to crates.io..."
cargo publish -p kord --no-verify
'''

[tasks.publish-all]
workspace = false
dependencies = ["check-all", "build-cli", "build-npm", "build-web", "build-oci"]
run_task = { name = [
    "publish-crates",
    "publish-npm",
    "publish-oci",
], fork = false }

# Docker tasks

[tasks.docker-build]
cwd = "."
workspace = false
command = "docker"
args = ["build", "-f", "./docker/Dockerfile", "-t", "twitchax/kord-web", "."]

[tasks.docker-run]
cwd = "."
workspace = false
command = "docker"
args = ["run", "-it", "--rm", "-p", "8080:3000", "twitchax/kord-web"]

# Fly.io deployment

[tasks.fly-deploy]
cwd = "."
workspace = false
command = "fly"
args = ["deploy", "-c", ".hidden/fly.toml", "--local-only"]
